
# Sign-in with Google
GOOGLE_SERVER_CLIENT_ID=enter_your_google_server_client_id_here
GOOGLE_IOS_CLIENT_ID=your_google_ios_client_id_here
GOOGLE_ANDROID_CLIENT_ID=your_google_android_client_id_here

# Sign-in with Apple
APPLE_SERVICES_ID=your_apple_services_id_here
APPLE_REDIRECT_URI=your_apple_redirect_uri_here

# Sign-in with Line
LINE_CHANNEL_ID=enter_your_line_channel_id_here

# Backend API
API_BASE_URL=http://10.0.2.2:8000/api
