PORT=8000
MINIO_ENDPOINT=http://minio:9000
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minio123
MINIO_BUCKET_NAME=videos

DATABASE_URL=postgres://betaroid:admin1234@postgres:5432/mydb

JWT_SECRET=c9f5611e07f312046f35f301d5e9f25e5fe27b68e8def98279f80876406ebc89

DB_HOST=postgres
DB_USER=betaroid
DB_PASSWORD=admin1234
DB_NAME=mydb

POSTGRES_USER=betaroid
POSTGRES_PASSWORD=admin1234
POSTGRES_DB=mydb

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin123

REDIS_ADDR=redis:6379